# THIS IS JUST AN EXAMPLE

filters:

    bass_extension:

        type: Biquad

        parameters:

            type:           LinkwitzTransform
            freq_act:       60
            q_act:          0.7
            freq_target:    40
            q_target:       0.7

