# This PLUGIN is intended to be used from alsa players,
# it is associated to the "alsa_loop" jack ports
pcm.aloop {
    type plug
    slave { pcm "Rjaloop" }
    hint {
        description "Plugin to jack-alsa_loop"
    }
}

# This PLUGIN is intended to be used from alsa players
# that directly want to bypass the inputs selector,
# e.g. the high volume beep alert from the mouse_volume_daemon.py
pcm.preamp {
    type plug
    slave { pcm "Rjpreamp" }
    hint {
        description "Plugin to jack-brutefir"
    }
}

# a RAW pcm (PLEASE name it shortly, e.g Rjaloop)
pcm.Rjaloop {
    type jack
    playback_ports {
        0 alsa_loop:input_1
        1 alsa_loop:input_2
    }
    hint {
        description "Raw to jack-alsa_lopp"
    }
}

# a RAW pcm (PLEASE name it shortly)
pcm.Rjpreamp {
    type jack
    playback_ports {
        0 pre_in_loop:input_1
        1 pre_in_loop:input_2
    }
    hint {
        description "Raw to jack-preamp"
    }
}

pcm.!default {
    type plug
    slave { pcm "Rjaloop" }
    hint {
        description "Plugin to jack-alsa_loop"
    }
}

pcm.alsafile {
    type file
    slave { pcm "null" }
    file "alsafile.wav"
    format "wav"
    hint {
        description "To file alsafile.wav"
    }
}
