# Copyright (c) Rafael Sánchez
# This file is part of 'pe.audio.sys'
# 'pe.audio.sys', a PC based personal audio system.
#
# https://www.musicpd.org/doc/html/user.html#configuration
# to check compiled features:   mpd --version
# to debug:                     mpd --stdout --no-daemon --verbose
#

port                    "6600"

music_directory         "~/music"
follow_outside_symlinks "yes"
follow_inside_symlinks  "no"

# default local playlist folder
playlist_directory      "~/.config/mpd/playlists"
# alternative network playlist folder
#playlist_directory      "/mnt/SOME/SHARED/FOLDER/playlists/"

pid_file                "~/.config/mpd/pid"
state_file              "~/.config/mpd/state"
state_file_interval     "30"

replaygain              "off"

database {
    plugin "simple"
    path "~/.config/mpd/database"
}

input {
    plugin  "cdio_paranoia"
    speed   "1"
}

audio_output {
    type            "jack"
    enabled         "yes"
    name            "jack"
    client_name     "mpd"
    always_on       "no"
    source_ports    "out_0,out_1"
    # (!) MUST declare destination_ports to avoid autoconnect to system
    destination_ports    "mpd_loop:input_1,mpd_loop:input_2"
}

audio_output {
    # This allows to have a volume control synced with pe.audio.sys
    # (needs snd_dummy to be enabled)
    type            "alsa"
    enabled         "no"
    name            "alsa_dummy"
    device          "hw:Dummy"
    mixer_control   "Master"
    mixer_type      "hardware"
}

resampler {
    
    # 48k -> 44.1k core i3 cpu ~ 3.5 %
    plugin "soxr"
    quality "very high"

    # 48k -> 44.1k core i3 cpu ~ 21 %
    #plugin    "libsamplerate"
    #type      "Best Sinc Interpolator"
}
