balance: 0.0
bass: 0.0
drc_set: sample
input: none
level: -20.0
loudness_ref: 0.0
loudness_track: true
loudspeaker: full_range_example
midside: 'off'
muted: false
peq_set: none
polarity: +
solo: 'off'
target: +3.0-1.5_target
treble: 0.0
xo_set: none
