{
  "balance": 0,
  "bass": 0.0,
  "convolver_runs": true,
  "drc_set": "sofa",
  "equal_loudness": true,
  "input": "spotify",
  "input_port": "PipeWire",
  "level": -24.0,
  "loudspeaker": "cardiojorns",
  "loudspeaker_ref_SPL": 83,
  "lu_offset": 6.0,
  "midside": "off",
  "muted": false,
  "peq_set": "none",
  "polarity": "++",
  "powersave": false,
  "solo": "off",
  "subsonic": "off",
  "target": "+3.0-1.5",
  "treble": 0.0,
  "xo_set": "mp",
  "extra_delay": 0.0,
  "tone_defeat": false,
  "gain_headroom": 17.7,
  "lr_swapped": false,
  "compressor": "off",
  "jack_buffer": 512,
  "jack_device": "DX",
  "samplerate": 44100,
  "xo_latency": 0,
  "dsp_latency": 95.4,
  "output_latency": 23.2
}
