#-------------------------- Serial device config

# Mac OS
#ir_dev: '/dev/cu.usbserial-AO0099IL' # FTDI FT232R USB UART s/n:AO0099IL
#ir_dev: '/dev/cu.usbserial-DA00L64Y' # FTDI FT230X Basic UART s/n:DA00L64Y

#Linux
ir_dev: '/dev/ttyUSB0'                # FTDI FT230X Basic UART s/n:DA00L64Y

# time in seconds to avoid to bouncing commands:
antibound:  .5

#-------------------------- Remote to be used from dictionary below

remote:     Onkyo

#-------------------------- Remotes dictionary table

remotes:

    Onkyo:
        baudrate:                           1500
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        packetLength:                               # choose one
        endOfPacket:                        ff      # of these
        keymap:
            00 2d 6d 2d b9 29 b9 bb ff:        level -3 add    # ol-
            00 2d 6d 2d 69 29 6d bb ff:        level +3 add    # ol+
            00 2d 6d 2d 39 29 bb bb ff:                        # p-
            00 2d 6d 2d 29 a9 bb bb ff:                        # p+
            00 2d 6d 2d 29 2b bb 6d ff:                        # ps
            00 2d 6d 2d 39 29 6b bb ff:        mute toggle     # fmm
            00 2d 6d 2d a9 3b 6d b9 ff:                        # p1
            00 2d 6d 2d 39 2d 6d 6d ff:                        # p2
            00 2d 6d 2d 69 2d 6b 6d ff:                        # p3
            00 2d 6d 2d b9 39 69 6d ff:                        # p4
            00 2d 6d 2d 69 ad 2d ad ff:        loudness_ref 0  # 17
            00 2d 6d 2d b9 6b 2b 6b ff:        loudness_ref 3  # 18
            00 2d 6d 2d 29 6b bb 39 ff:        loudness_ref 6  # 19
            00 2d 6d 2d 39 3b b9 39 ff:        loudness_ref 9  # 20

