#-------------------------- Serial device config

# Mac OS
#ir_dev: '/dev/cu.usbserial-AO0099IL' # FTDI FT232R USB UART s/n:AO0099IL
#ir_dev: '/dev/cu.usbserial-DA00L64Y' # FTDI FT230X Basic UART s/n:DA00L64Y

#Linux
ir_dev: '/dev/ttyUSB0'                # FTDI FT230X Basic UART s/n:DA00L64Y

# time in seconds to avoid to bouncing commands:
antibound:  .5

#-------------------------- Remote to be used from dictionary below

remote:     Onkyo

#-------------------------- Remotes dictionary table

remotes:

    Onkyo:
        baudrate:                           1500
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        packetLength:                               # choose one
        endOfPacket:                        ff      # of these
        keymap:
            # (i) discard here the last \xfX end of packet byte
            b'\x00-m-\xb9)\xb9\xbb':        level -3 add    # ol-
            b'\x00-m-i)m\xbb':              level +3 add    # ol+
            b'\x00-m-9)\xbb\xbb':                           # p-
            b'\x00-m-)\xa9\xbb\xbb':                        # p+
            b'\x00-m-)+\xbbm':                              # ps
            b'\x00-m-9)k\xbb':              mute toggle     # fmm
            b'\x00-m-\xa9;m\xb9':                           # p1
            b'\x00-m-9-mm':                                 # p2
            b'\x00-m-i-km':                                 # p3
            b'\x00-m-\xb99im':                              # p4
            b'\x00-m-i\xad-\xad':           loudness_ref 0  # 17
            b'\x00-m-\xb9k+k':              loudness_ref 3  # 18
            b'\x00-m-)k\xbb9':              loudness_ref 6  # 19
            b'\x00-m-9;\xb99':              loudness_ref 9  # 20
