#-------------------------- Serial device config

# Mac OS
#ir_dev: '/dev/cu.usbserial-AO0099IL' # FTDI FT232R USB UART s/n:AO0099IL
#ir_dev: '/dev/cu.usbserial-DA00L64Y' # FTDI FT230X Basic UART s/n:DA00L64Y

#Linux
ir_dev: '/dev/ttyUSB0'                # FTDI FT230X Basic UART s/n:DA00L64Y

# time in seconds to avoid to bouncing commands:
antibound:  .5

#-------------------------- Remote to be used from dictionary below

remote:     Onkyo_RC-113T

#-------------------------- Remotes dictionary table

remotes:

    Onkyo_RC-113T:
        baudrate:                           1490
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        packetLength:                               # choose one
        endOfPacket:                        ff      # of these
        EOPtolerance:
        maxVariance:                        5
        keymap:

            00 2d 6d 2d 69 69 ab 3b ff: input spotify                   # rf mode
            00 2d 6d 2d b9 2b a9 3b ff: input appletv                   # if band
            00 2d 6d 2d 29 39 3b 6b 00 ff:   input tv                   # hi blend
            00 2d 6d 2d 39 ab b9 6d fb: input cd                        # mode
            00 2d 6d 2d 39 69 ad 3b ff: input mpd                       # ant

            00 2d 6d 2d a9 3b 6d b9 ff: loudness_ref 0                  #  1
            00 2d 6d 2d 39 2d 6d 6d ff: loudness_ref 3                  #  2
            00 2d 6d 2d 69 2d 6b 6d ff: loudness_ref 6                  #  3
            00 2d 6d 2d b9 39 69 6d ff: loudness_ref 9                  #  4

            00 2d 6d 2d 29 2b 3b bb ff: loudness_track on               #  5
            00 2d 6d 2d 39 3b b9 b9 fb: loudness_track off              #  6
            00 2d 6d 2d 69 3b ad b9 fb:                                 #  7
            00 2d 6d 2d 39 2b 2d bb ff:                                 #  8

            00 2d 6d 2d 69 2b 2b bb ff: aux run_macro 1_RNE             #  9
            00 2d 6d 2d b9 3b 29 bb fb: aux run_macro 2_R.Clasica       # 10
            00 2d 6d 2d 29 6b bb 6b fb: aux run_macro 3_Radio_3         # 11
            00 2d 6d 2d 39 ad b9 6b fb:                                 # 12

            00 2d 6d 2d 69 ad ad 6b fb:                                 # 13
            00 2d 6d 2d b9 39 69 ad ff: aux run_macro 7_Dyns-dipojorns  # 14
            00 2d 6d 2d a9 ad 6d 6b fb: aux run_macro 8_Trigon-On-Off   # 15
            00 2d 6d 2d 39 ad 39 ad ff: aux run_macro 9_Power-OFF       # 16
            00 2d 6d 2d 69 ad 2d ad ff: players player_pause            # 17

            00 2d 6d 2d b9 6b 2b 6b ff:                                 # 18
            00 2d 6d 2d 29 6b bb 39 ff:                                 # 19
            00 2d 6d 2d 39 3b b9 39 ff: players player_eject            # 20

            00 2d 6d 2d 29 2b bb 6d ff: players player_play             # ps
            00 2d 6d 2d 39 29 bb bb ff: players player_previous         # <p
            00 2d 6d 2d 29 a9 bb bb ff: players player_next             # p>

            00 2d 6d 2d 39 29 6b bb ff: mute toggle                     # fmm
            00 2d 6d 2d b9 29 b9 bb ff: level -3 add                    # ol-
            00 2d 6d 2d 69 29 6d bb ff: level +3 add                    # ol+

    # This is a difficult remote :-/
    AppleRemote:
        baudrate:                           1265
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        packetLength:                              # choose one
        endOfPacket:                        ff     # of these
        EOPtolerance:                       3
        maxVariance:                        2
        keymap:
            00 b6 b7 db b3 97 9b 9b 00 ff:  players player_pause    # prev
            00 b6 b7 db b3 9b da d3 ff:     players player_next     # next
            00 b7 b6 db b3 b3 db d3 ff:     level +3 add            # vol+
            00 b7 b7 db b2 b7 db d3 ff:     level -3 add            # vol-
            00 b6 b7 db b3 93 9b 9b 00 ff:  mute toggle             # play_pause
            00 b7 b7 db b3 93 b3 f3 00 ff:  aux amp_switch toggle   # menu


    # This sends kind of variable lenght.
    #    Always starts with 0x00 and finish with 0xff
    #    ok==play_pause has 9+10 bytes but 1st 9 bytes behaves as said above.
    AppleTV:
        baudrate:                           1500
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        packetLength:                              # choose one
        endOfPacket:                        ff     # of these
        EOPtolerance:
        maxVariance:
        keymap:
            00 6d 6d bb a9 69 29 3b ff:                         # left
            00 6d 6d bb a9 bb 29 6d ad 00 ff:                   # right
            00 6d 6d bb a9 3b 29 bb ad 00 ff:   level +3 add    # up
            00 6d 6d bb a9 6b 29 bb ad 00 ff:   level -3 add    # down
            00 6d 6d bb a9 39 29 3b ff:         mute toggle     # ok-play_pause
            00 6d 6d bb a9 2d 29 3b ff:                         # menu


    # This is the only one that sends always a fixed packetLength.
    Panasonic_TV:
        baudrate:                           1200
        bytesize:                           8
        parity:                             N
        stopbits:                           1
        packetLength:                       7       # choose one
        endOfPacket:                                # of these
        EOPtolerance:
        maxVariance:
        keymap:
            98 00 01 02 40 20 ff:           level +3 add            # volUp
            98 00 01 02 82 82 fd:           level -3 add            # volDown
            98 00 01 02 44 88 fa:           mute toggle             # mute
            00 00 00 00 00 00 00:           aux amp_switch toggle   #
            98 00 01 02 54 51 d4:           aux player prev         #  <--
            98 00 01 02 22 22 fd:           aux player play_pause   #  ok
            98 00 01 02 aa 52 51:           aux player next         #  -->
                                                                    # dvd:
            98 00 01 09 88 12 55:           aux player prev         #  <<
            98 00 01 09 90 90 e9:           aux player play_pause   #  ||
            98 00 01 09 90 22 55:           aux player next         #  >>
            98 00 01 09 50 50 e9:           aux player play_pause   #  >
            98 00 01 09 00 a0 fd:           aux player stop         #  []

