# DVB-T presets (radio or not)
#
#  NUM#:
#       name:   Mandatory. The station name inside channels.conf
#       codec:  Optional. Currently 'ffac3' will set a 12 dB boost in Mplayer

1:
    name:   Radio Nacional de España
    codec:  mpg123

2:
    name:   Radio Clasica HQ RNE audio_pid_2021
    codec:  ffac3

22:
    name:   Radio Clasica HQ RNE audio_pid_2022
    codec:  mpg123

3:
    name:   Radio3 HQ RNE

4:
    name:   Radio Exterior RNE

5:
    name:   Radio 5

6:
    name:   SER

7:
    name:   Kiss FM

8:
    name:   ONDA CERO

9:
    name:   ONDA MADRID
