# Write your default config options here!

# NOTICE: mplayer will resample to the Fs of JACK
# af=resample=44100:0:2 # not necessary

# USE:
#   ao=jack:name=<mplayer_port_name>:noconnect
# OR
#   ao=jack:name=<mplayer_port_name>:port=<destination_port_name>

[dvb]
ao=jack:name=mplayer_dvb:noconnect

[cdda]
ao=jack:name=mplayer_cdda:noconnect
speed=1
# Try cache=1024 to avoid playback breakdowns
cache=1024

[istreams]
ao=jack:name=mplayer_istreams:noconnect


