#!/bin/sh -e

# switch on your amplifier:
su -l YOURUSER -c "/home/YOURUSER/bin/ampli.sh on"

# starts pe.audio.sys
su -l YOURUSER -c "python3 /home/YOURUSER/pe.audio.sys/start.py all --log &"


exit 0
